.pagination {
  --gap: 8px;
  @extend %cardSet;
  align-items: center;

  padding: $padding-small;
  z-index: 1;
}

.paginationBtn {
  @extend .btn;
  width: 40px;
  height: 40px;

  &.isHidden {
    display: none;
  }
}

.paginationBtn__extra {
  @extend .paginationBtn;
}

.paginationBtn__extra--arrov {
  & div {
    transform: rotate(-90deg);
    pointer-events: none;
  }

  &:last-child div {
    transform: rotate(90deg);
  }
}

@include breakpoint-max($smallMax) {
  .paginationBtn:nth-child(-n+2),
  .paginationBtn:nth-last-child(-n+3) {
    flex: 1 0 18%;
    display: flex;
    order: -1;
  }

  .paginationBtn:nth-child(1),
  .paginationBtn:nth-last-child(1) {
    &.isHidden {
      color: rgba(245, 222, 179, 0.2);
      pointer-events: none;
    }
  }

  .paginationBtn:nth-child(3) {
    display: none;
  }
}

@include breakpoint-max(400px) {
  .paginationBtn:nth-child(-n+2),
  .paginationBtn:nth-last-child(-n+3) {
    flex: 1 0 17%;
  }
}