.pagination {
  @extend %flex-center-ja;
  flex-wrap: wrap;
  gap: 8px;

  padding: $padding-small;
  z-index: 1;
}

.paginationBtn {
  @extend .btn;
  width: 40px;
  height: 35px;

  &.isHidden {
    display: none;
  }
}

// .paginationBtn:nth-child(2) {
//     background-color: teal;

//     &::after {
//       content: '...';
//     }
//   }

// @include breakpoint-max($smallMax) {
//   .paginationBtn:nth-child(-n + 3) {
//     background-color: teal;
//     order: -1;
//     flex: 1 0 21%;
//   }

//   .paginationBtn:nth-last-child(-n + 3) {
//     background-color: teal;
//     order: -1;
//     flex: 1 0 21%;
//   }
// }

.paginationBtn__extra {
  @extend .paginationBtn;

  &.isHidden {
    display: none;
  }

  // &--decor {
  //   background-color: rgba(0, 0, 0, 0.8);;
  // }
}