.semipolar-spinner, .semipolar-spinner * {
      box-sizing: border-box;
    }

    .semipolar-spinner {
      height: 65px;
      width: 65px;
      position: relative;
    }

    .semipolar-spinner .ring {
      border-radius: 50%;
      position: absolute;
      border: calc(65px * 0.05) solid transparent;
      border-top-color: #b43bff;
      border-left-color: rgb(29, 172, 255);
      animation: semipolar-spinner-animation 2s infinite;
    }

    .semipolar-spinner .ring:nth-child(1) {
      height: calc(65px - 65px * 0.2 * 0);
      width: calc(65px - 65px * 0.2 * 0);
      top: calc(65px * 0.1 * 0);
      left: calc(65px * 0.1 * 0);
      animation-delay: calc(2000ms * 0.1 * 4);
      z-index: 5;
    }

    .semipolar-spinner .ring:nth-child(2) {
      height: calc(65px - 65px * 0.2 * 1);
      width: calc(65px - 65px * 0.2 * 1);
      top: calc(65px * 0.1 * 1);
      left: calc(65px * 0.1 * 1);
      animation-delay: calc(2000ms * 0.1 * 3);
      z-index: 4;
    }

    .semipolar-spinner .ring:nth-child(3) {
      height: calc(65px - 65px * 0.2 * 2);
      width: calc(65px - 65px * 0.2 * 2);
      top: calc(65px * 0.1 * 2);
      left: calc(65px * 0.1 * 2);
      animation-delay: calc(2000ms * 0.1 * 2);
      z-index: 3;
    }

    .semipolar-spinner .ring:nth-child(4) {
      height: calc(65px - 65px * 0.2 * 3);
      width: calc(65px - 65px * 0.2 * 3);
      top: calc(65px * 0.1 * 3);
      left: calc(65px * 0.1 * 3);
      animation-delay: calc(2000ms * 0.1 * 1);
      z-index: 2;
    }

    .semipolar-spinner .ring:nth-child(5) {
      height: calc(65px - 65px * 0.2 * 4);
      width: calc(65px - 65px * 0.2 * 4);
      top: calc(65px * 0.1 * 4);
      left: calc(65px * 0.1 * 4);
      animation-delay: calc(2000ms * 0.1 * 0);
      z-index: 1;
    }

    @keyframes semipolar-spinner-animation {
      50% {
        transform: rotate(360deg) scale(0.7);
      }
    }


// .lds-roller {
//   display: inline-block;
//   position: relative;
//   width: 80px;
//   height: 80px;
// }
// .lds-roller div {
//   animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
//   transform-origin: 40px 40px;
// }
// .lds-roller div:after {
//   content: " ";
//   display: block;
//   position: absolute;
//   width: 7px;
//   height: 7px;
//   border-radius: 50%;
//   background: #fff;
//   margin: -4px 0 0 -4px;
// }
// .lds-roller div:nth-child(1) {
//   animation-delay: -0.036s;
// }
// .lds-roller div:nth-child(1):after {
//   top: 63px;
//   left: 63px;
// }
// .lds-roller div:nth-child(2) {
//   animation-delay: -0.072s;
// }
// .lds-roller div:nth-child(2):after {
//   top: 68px;
//   left: 56px;
// }
// .lds-roller div:nth-child(3) {
//   animation-delay: -0.108s;
// }
// .lds-roller div:nth-child(3):after {
//   top: 71px;
//   left: 48px;
// }
// .lds-roller div:nth-child(4) {
//   animation-delay: -0.144s;
// }
// .lds-roller div:nth-child(4):after {
//   top: 72px;
//   left: 40px;
// }
// .lds-roller div:nth-child(5) {
//   animation-delay: -0.18s;
// }
// .lds-roller div:nth-child(5):after {
//   top: 71px;
//   left: 32px;
// }
// .lds-roller div:nth-child(6) {
//   animation-delay: -0.216s;
// }
// .lds-roller div:nth-child(6):after {
//   top: 68px;
//   left: 24px;
// }
// .lds-roller div:nth-child(7) {
//   animation-delay: -0.252s;
// }
// .lds-roller div:nth-child(7):after {
//   top: 63px;
//   left: 17px;
// }
// .lds-roller div:nth-child(8) {
//   animation-delay: -0.288s;
// }
// .lds-roller div:nth-child(8):after {
//   top: 56px;
//   left: 12px;
// }
// @keyframes lds-roller {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }