.movies__list {
  @extend %cardSet;
}

.movie-card {
  --items: 2;
  position: relative;
  @extend %cardSet__item;
  @extend %flex-dir-column;
  @extend %border-radius;
  overflow: hidden;

  @include breakpoint-min($medium) {
    --items: 4;
  }
  @include breakpoint-min($large) {
    --items: 5;
  }
}

.movie-card__img {
  width: 100%;
  object-fit: cover;
  @extend %border-radius;
  @extend %cursor;
}

.movie-card__details-btn {
  @extend %absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @extend %cursor;
  background-color: transparent;
}

.movie-details {
  position: relative;
  display: flex;
  gap: 16px;
  padding: 16px;

  color: wheat;
  background-color: rgba(0, 0, 0, 0.9);
  @extend %border-radius;
}

.movie-details__img {
  max-width: 50%;
  width: 200px;
  object-fit: cover;
  @extend %border-radius;
}

.movie-details__img,
.movie-details__desc {
  flex: 50%;
}

.movie-details__desc {
  display: flex;
  flex-direction: column;
}

.movie-details__title {
  font-size: 24px;
  margin-bottom: 16px;
}

.movie-details__desc-row {
  margin-bottom: 6px;
}

.movie-details__desc-row span {
  width: 100px;
  margin-right: 12px;
}

.movie-details__video-play-btn {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  margin-top: auto;

  color: wheat;
  background-color: red;
  @extend %border-radius;
  @extend %cursor;
  z-index: 1000;

  &.isHidden {
    display: none;
  }
}

.movie-details__video {
  @extend %absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  // @extend %flex-center-ja;
  // display: flex;

  background-color: rgba(0, 0, 0);
  @extend %border-radius;

  &.isHidden {
    display: none;
  }
}

.movie-details__video iframe {
  width: 100%;
  aspect-ratio: 16 / 9 ;
  @extend %border-radius;
}