.search-form {
  @extend %flex-center-ja;
  gap: 12px;
  padding-top: 12px;

  @extend %border-radius;
}
.search-form__button {
  padding: 8px;

  color:  white;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.1);
  @extend %border-radius;
  @extend %cursor;
}

.search-form__input {
  padding: 8px;
  min-width: 100px;

  background-color: rgbargba(255, 255, 255, 0.8);
  @extend %border-radius;
}