:root {
  // === fonts ===

  // === colors ===
  --bgc__main: rgb(255, 221, 154);

  // === card set item ===
  --items: 1;
  --gap: 20px;
}

// === screen sizes ===
$small: 480px;
$medium: 768px;
$large: 1200px;

$extraSmallMax: $small - 1;
$smallMax: $medium - 1;
$mediumMax: $large - 1;
// === screen sizes ===

// === sizes ===
$height-header: 60px;
$padding-small: 16px;
$padding-medium: calc($padding-small * 2);
$border-radius: 8px;
