.btn {
  @extend %flex-center-ja;

  font-size: inherit;
  // color: inherit;

  background-color: var(--bgc__secondary);
  @extend %border-radius;
  @extend %cursor;

  // &:hover,
  // &:focus,
  &.current {
    background-color: var(--c__accent);
  }
}