.btn {
  @extend %flex-center-ja;

  font-size: inherit;
  color: white;

  background-color: black;
  @extend %border-radius;
  @extend %cursor;
  
  // &:hover,
  // &:focus {
  //   background-color: var(--color__hover);
  // }

  // &.current {
  //   background-color: var(--color__accent);
  // }
}